/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-size: 15px;
	font-family: YuGothic;
	background-image: linear-gradient(-90deg, #8800FF, #FF2B00);
}

.form-group {
	border-radius: 3px;
	.form-label {
		color: white;
		margin-right: 15px;
	}
	.form-field {
		font-size: 100%;
		border-radius: 3px;
	}
}

.question-form {
	display: flex;
	flex-direction: row;
}

.question-tag {
	display: inline-block;
 	height: 20px;
	margin: 10px;
	padding: 2px 15px;
	border-radius: 20px;
	background-color: white;
	text-align: center;
	text-decoration: none;
	&:hover {
		color: black;
	}
 }

 .qa_links {
 	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	background-color: white;
	color: blue;
	&:hover{
		color: black;
	}
 }
